body {
    font-family: Arial, sans-serif;
    background: #fbf3c4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

form {
    background: #fbe567;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px 20px;
    margin: 20px auto;
    width: 400px;
    text-align: left;
    color: #a04d13;
}

form hr {
    display: none; /* sembunyikan hr */
}

form select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[name="update"] {
    background-color: #a04d13;
    color: white;
}

button[name="update"]:hover {
    background-color: #382410;
}

button[name="delete"] {
    background-color: #f44336;
    color: white;
    margin-left: 5px;
}

button[name="delete"]:hover {
    background-color: #d32f2f;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background: #a04d13;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
}

a:hover {
    background: #382410;
}
