body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: #fbf3c4;
  font-family: Arial, sans-serif;
}

.login-box {
  background: #fbe567;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
  color: #895234;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #a04d13;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 35px; /* kasih ruang buat ikon */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  background: #a04d13;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #382410;
}

.login-box p {
  margin-top: 15px;
}